# PyCharm specific files
.idea/
*.iml
*.iws
*.ipr
.idea_modules/
out/

# Python specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env
.venv
env/
virtualenv/

# Flask specific
instance/
.webassets-cache
.flask_session/

# Ignore Editor specific files
app/static/Editor-2.4.1/
mongo_datatables/
_mongo_datatables/

# Log files
*.log
logs/

# Database files
*.sqlite
*.db

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version