/* Custom styling specifically for this table view */
tr.shown {
    background-color: rgba(63, 108, 255, 0.05) !important;
}

/* More compact table */
.compact-table th,
.compact-table td {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

#novels_table tbody tr {
    cursor: pointer;
}

/* Date field styling */
.DTE_Field input[name="PublishedDate"] {
    font-family: monospace;
    letter-spacing: 1px;
}

/* Format dates nicely in the table */
.published-date {
    font-style: italic;
    color: #aaa;
}